// .team-card {
//   background: red;
// }

// .owl-stage {
//   background: red !important;
// }

.team-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-page-block {
  // width: 100vw;
}

.owl-stage {
  background: red;
}

.owl-item {
  width: 280px;
  height: 320px;
  // margin-right: 10px;
  background: red;
}
