$color-introduction-bg: #959999cc;
$color-introduction-description-bg: #f4f5fadc;
// $color-wrapper-bg: #fff6;
$color-spinner: #5e6fa3;
$color-spinner-blink: #2220;
$color-spinner-description: #335e97;
$color-spinner-bg: #d6eaf8e6;
$color-spinner-inner-bg: #f1f2f3;
