.xteam__row {
  margin-top: 5%;
  box-sizing: border-box;
  @include segoe-desc($color-text, 300);
}

.xteam__row:before, 
.xteam__row:after {
  box-sizing: inherit;
}

.xteam__column {
  float: left;
  width: 200px;
  height: 520px;
  margin-bottom: 16px;
  padding: 0 8px;
  display: block;
}

 @media screen and (max-width: 320px) {
  .xteam__row {
  margin-left: 17%;
  }
} 

@media screen and (min-width: 320px) and (max-width: 375px) {
  .xteam__row {
  margin-left: 22%;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .xteam__row {
  margin-left: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .xteam__row {
  margin-left: 17%;
  }
}

.xteam__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.xteam__container {
  padding: 0 10px;
}

.xteam__container h2{
  @include segoe-additional($color-dark-blue, 400);
}

.xteam__container::after, .xteam__row::after {
  content: "";
  clear: both;
  display: table;
}

.xteam__title {
  color: grey;
}

.xteam__button {
  color: $color-light;
  text-decoration: none;
  border: none;
  outline: 0;
  display: inline-block;
  background-color: $color-dark-blue;
  width: 100%;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 1rem;
}

.xteam__button:hover {
  background-color: $color-hovered;
  border-color: transparent;

  @include transition($time: .4s, $property: all, $method: ease-out);
}