.xteam__row {
  margin-top: 1%;
  box-sizing: border-box;
  @include segoe-desc($color-text, 300);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.xteam__row:before,
.xteam__row:after {
  box-sizing: inherit;
}

.xteam__column {
  float: left;
  width: 200px;
  height: 510px;
  margin-bottom: 16px;
  padding: 0 8px;
  display: block;
}

.xteam__workflow {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 320px) {
  .xteam__workflow {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .xteam__workflow {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .xteam__workflow img {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .xteam__workflow img {
    width: 100%;
  }
}

.xteam__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.xteam__container {
  padding: 0 10px;
}

.xteam__container h2 {
  @include segoe-additional($color-dark-blue, 400);
}

.xteam__container:after,
.xteam__row:after {
  content: "";
  clear: both;
  display: table;
}

.xteam__title {
  color: grey;
}

.xteam__button {
  color: $color-light;
  text-decoration: none;
  border: none;
  outline: 0;
  display: inline-block;
  background-color: $color-dark-blue;
  width: 100%;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 1rem;
}

.xteam__button:hover {
  background-color: $color-hovered;
  border-color: transparent;

  @include transition($time: .4s, $property: all, $method: ease-out);
}
