.layout-1-column , .layout-3-column {
 @include column();
}

.row {
    display: flex;
    align-items: center;
    margin: 20px 0;
    @include segoe-subtitle (black, 600);
    font-size:  px-to-rem(12px);
    line-height: px-to-rem(20px);
}