@mixin transition($time: 0.3s, $property: all, $method: ease-out) {
  transition: $time $property $method;
}

@mixin media-max-width($width) {
  @media (max-width: $width) { @content; }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}
