@import './../../../scss/normalize.scss';
@import './../../../scss/constants.scss';
@import './../../../scss/mixins.scss';
@import './../../../scss/fonts.css';
@import './../../../scss/wrapper.scss';
@import './common/speakit.constants.scss';

@import './components/view.styles.scss'; 