<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.png">
  <title>Promo page</title>
</head>

<body>
  <main class="main">
    <section class="promo">
      <div class="wrapper">
        <div class="promo__container">
          <div class="promo__logo">
            <img src="./assets/promo/img/logo-header.png" class="logo">
        </div>
          <div class="promo-content">
            <h2 class="promo__title">
              Achieve the best results possible.
            </h2>
            <div class="login__form">
              <div>
                <a href="#" class="login__submitBtn">
                  <img src="./assets/promo/img/icon/vector.svg" alt="logo" >
                  SIGN IN
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="capabilities">
    <div class="wrapper">
      <div class="capabilities__container">
      <div class="title__content">
        <img src="./assets/promo/img/icon/fire.svg" alt="" class="icon-fire">
        <h2 class="title">The best way to learn a language</h2>
        <img src="./assets/promo/img/icon/fire.svg" alt="" class="icon-fire">
      </div>
      <p class="title__text">
        You can choose a translation of a word,
        a sentence with an explanation of the meaning of the word,
        a sentence with an example of using the studied word.
      </p>
    </div>
  </section>
  <section class="games">
    <div class="wrapper">
      <div class="games__content">
      <h2 class="games__title">Lessons in a game form (6 mini games)</h2>
      <div class="layout-3-columns">
        <div class="layout-1-column">
          <span class="row">
            <img src="./assets/promo/img/icon/bullhorn.svg" alt="" class="game-icon">
            AUDIO CALL
          </span>
          <span class="row">
            <img src="./assets/promo/img/icon/earth.svg" alt="" class="game-icon">
            SAVANNA
          </span>
          <span class="row">
            <img src="./assets/promo/img/icon/sound.svg" alt="" class="game-icon">
            SPRINT
          </span>
        </div>
        <div class="layout-2-column">
          <img src="./assets/promo/img/image-games.png" alt="" class="game-icon" >
        </div>
        <div class="layout-3-column">
          <span class="row">
            <img src="./assets/promo/img/icon/puzzle-piece.svg" alt="" class="game-icon">
            ENGLISH PUZZLE
          </span>
          <span class="row">
            <img src="./assets/promo/img/icon/target.svg" alt="" class="game-icon">
            SPEAKIT
          </span>
          <span class="row">
            <img src="./assets/promo/img/icon/gamepad.svg" alt="" class="game-icon">
            CUSTOM GAME
          </span>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section class="collection">
    <div class="wrapper">
      <div class="collection__content">
        <div class="collection__container-infoText">
          <p class="collection__infoText">
            Collection contains 3600 often consumed english words
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="settings">
    <div class="wrapper">
      <div class="settings__content">
        <div class="settings__description">
          <p class="settings__description-text">
            In the application settings you can specify the number
            of new words that you plan to learn per day
          </p>
        </div>
        <img src="./assets/promo/img/image-pazzle.png" alt="" class="settings__image">
      </div>
    </div>
  </section>
  <section class="paltform">
    <div class="wrapper">
      <div class="platform__content">
        <div class="platform__description-container">
          <img src="./assets/promo/img/image-platform.png" alt="" class="platform__image">
          <div class="description__container">
            <p class="platform__description-text">
              Rs Lang -multi-platform service.
              It is available on the web platform and in the form of free mobile applications for iOS,
              Android, Windows Phone and browser extensions.
            </p>
            <div class="platform__description-icon">
              <img src="./assets/promo/img/icon/windows8.svg" alt="" class="platform__icon">
              <img src="./assets/promo/img/icon/desktop.svg" alt="" class="platform__icon">
              <img src="./assets/promo/img/icon/android.svg" alt="" class="platform__icon">
              <img src="./assets/promo/img/icon/appleinc.svg" alt="" class="platform__icon">
            </div>
          </div>
        </div>
    </div>
  </section>
  <section class="prvideo">
    <div class="wrapper">
      <div class="prvideo__container">
        <img src="./assets/promo/img/image-video.png" alt="" class="prvideo__image">
      </div>
    </div>
  </section>
</main>
  <footer class="footer">
    <div class="wrapper">
        <div class="footer__title">
          <img src="./assets/promo/img/logo-footer.png" alt="" class="footer__image">
        </div>
    </div>
  </footer>
  <script src="./js/promo.bundle.js"></script>
</body>

</html>