<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.png">
  <title>Promo page</title>
</head>
<body class="promo__page">
  <h1 class="promo__logo logo">Promo <span class="logo__word">page<span></h1>
  <a class="promo__link link" href="main.index.html">
    Main Application
  </a>
  <script src="./js/promo.bundle.js"></script>
</body>
</html>