.main {
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.preview-drop {
  z-index: 1000;

  width: 100vw;
  min-height: 100vh;

  background-color: rgba(56, 60, 60, 0.8);
  background-image: url("../assets/img/etienne.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.preview-drop__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;

  color: #50667b;

  backdrop-filter: opacity(0.8) brightness(1.2);
}

.preview-drop__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;

  background-color: rgba(244, 245, 250, 0.6);
  border-radius: 20px;

@include segoe-subtitle($color: $color-text-additional, $weight: 600);

  h1 {
    text-align: center;
  }
}

.preview-drop__content {
  text-align: center;

@include segoe-subtitle($color: $color-text-additional, $weight: 600);
}
