.body__game-drop {
  background-image: url("../assets/img/cloud.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  user-select: none;
}

.drop-game__wrapper {
  position: relative;

  min-height: 100vh;
  margin: 0 auto;
}

.display-none {
  display: none;
}

.drop-game__container {
  display: flex;
  margin: 0 auto;
}
