@import '../../../main/scss/mixins.scss';

.speakit-cards__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  grid-gap: 20px;

  margin: 0;
}

.speakit-cards__item {
  width: 15vw;
  max-width: 200px;
  margin: auto;
}

.speakit-card__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 5px;

  font-size: 16px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.4),
              0 0 10px 5px #335e97 inset, 0 0 0 0 #335e97;
  color: #335e97;
  transition: .05s ease-in;

  border-radius: 10px;

  background-color: white;
  background-image: url('../assets/img/audio.png');
  background-repeat: no-repeat;
  background-position: 10px, 0;
  background-size: 32px;

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 0 10px 0 #335e97 inset, 0 0 10px 4px #335e97;
    color: #335e97;
  }
}

.speakit-active.speakit-card__link {
  color: white;
  background-color: lightcoral;
  box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.4),
               0 0 10px 0 lightcoral inset, 0 0 10px 4px lightcoral;
}

.card__word,
.card__transcription {
  margin: 5px;

  text-align: center;
}

.main-card {
  position: relative;

  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.picture__container {
  width: 500px;
}

.main-card__picture {
  max-width: 390px;
  display: block;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 40px;

  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 3px 10px 20px 0 rgba(0, 0, 0, 0.4);

  object-fit: cover;
}

.main-card__translation {
  width: 360px;
  min-height: 40px;
  margin: 20px 20px;
  margin-bottom: 10px;

  overflow: hidden;

  border-radius: 10px;

  font-size: 25px;
  text-align: center;
  line-height: 40px;
  color: #335e97;
  background-color: white;
  background-image: url('../assets/img/dictionary.png');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 32px;

  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 3px 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-card__speech-input {
  width: 350px;
  margin: 20px 20px;
  padding: 5px;

  font-size: 25px;
  color: #335e97;

  overflow: hidden;
  text-align: center;

  border: none;
  border-radius: 10px;

  background-color: white;
  background-image: url('../assets/img/micro.png');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 28px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 3px 10px 20px 0 rgba(0, 0, 0, 0.4);

  &:focus,
  &:hover,
  &:active  {
    outline: none;
  }
}
