<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.png">
    <title>Main</title>
</head>

<body>
  <header class="main-header">
    <div class="main-header__logo">
        <a href="#"><img src="./assets/main/img/logo.svg" alt="logo" class="logo"></a>
    </div>
  </header>
  <main class="main">
  </main>
  <script src="./js/app.bundle.js"></script>
</body>

</html>