<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="./assets/favicon/favicon.png">
  <title>Main</title>
</head>
<body>
   <header class="main-header">
       <div class="wrapper">
         <nav class="main-header__navigation">
           <div class="hamburger-menu__button">
             <div class="hamburger-menu__line first"></div>
             <div class="hamburger-menu__line second"></div>
             <div class="hamburger-menu__line third"></div>
           </div>
         </nav>
       </div>
      <div class="main-header__logo">
        <a href="#"><img src="./assets/main/img/logo.svg" alt="logo"></a>
      </div>
      <div class="main-header__logout">
        <a href="#"><img src="./assets/main/img/icon/sign-out.svg" alt="logo"></a>
      </div>
   </header>
  <script src="./js/app.bundle.js"></script>
</body>
</html>