$color-red-answear: #a52a2a;
$color-red-question: #a52a2a;
$plant-border: #aad670;
$plant-fill: #78aa3b;
$flowerpot-color1: #d1bb94;
$flowerpot-color2: #d6c8a5;
$color-dark-brown: #6d1e1e;
$color-red-error: #bb0e0b;
$color-green-correct: #6b9e3b;
$color-deep-blue: #11345a;
$color-dust-blue: #37383c;
$color-gold-diamond: gold;

//animated background
$color-savannah-sky-1: #416ba7;
$color-savannah-sky-2: #90bce3;
$color-savannah-road-1: #4a483d;
$color-savannah-road-2: #4c4f48;
$color-savannah-grass: #4c5f27;
$color-savannah-field-1: #808c5e;
$color-savannah-field-2: #576b3c;
$color-savannah-trees: #45667f;
$color-savannah-trees-2: #355a60;
$color-savannah-trees-3: #45694d;
$color-savannah-mountains-1: #55729e;
$color-savannah-mountains-2: #677da4;
$color-savannah-snow: #f9feff;
$color-savannah-shadow-1: #3d5887;
$color-savannah-shadow-2: #93accc;
