$color-red-answear: #a52a2a;
$color-red-question: #a52a2a;
$plant-border: #aad670;
$plant-fill: #78aa3b;
$flowerpot-color1: #d1bb94;
$flowerpot-color2: #d6c8a5;
$color-dark-brown: #6d1e1e;
$color-red-error: #bb0e0b;
$color-green-correct: #094731;
$color-deep-blue: #11345a;
$color-dust-blue: #37383c;