.savannah__diamond_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  right: 9px;
  bottom: 40px;
}

@keyframes move {
  0% { transform: translateY(0) scaleY(.8); }
  100% { transform: translateY(-70px) scaleY(1); }
}

.savannah__diamond_preloader {
  position: relative;
  animation: move 3s ease infinite alternate;
}

@keyframes spin {
  0% { transform: rotateX(-15deg) rotateY(0deg); }
  100% { transform: rotateX(-15deg) rotateY(180deg); }
}

.savannah__diamond {
  position: absolute;
  width: 20px;
  height: 20px;
  transform-style: preserve-3d;
  transform-origin: center center;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

.savannah__diamond span:first-of-type {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid $color-gold-diamond;
  transform: rotateX(90deg) rotateZ(45deg);
  box-sizing: border-box;
}

.savannah__diamond span:nth-of-type(2) {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid $color-gold-diamond;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(45deg);
  box-sizing: border-box;
}

.savannah__diamond span:last-of-type {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid $color-gold-diamond;
  transform: rotateZ(45deg);
  box-sizing: border-box;
}
