
.savannah__answears {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  min-height: 50%;
  top: 50%;
  z-index: 4;
  user-select: none;
}

.savannah__answear {
  display: inline-block;
  vertical-align: top;
  max-width: 270px;
  text-align: left;
  position: relative;
  padding: 10px 10px 10px 20px;
  color: $color-red-answear;
  transition: all .2s ease;
  cursor: pointer;
  margin: 5px 5px;
  user-select: none;
  border-radius: .3rem;
  background-color:rgba(255, 239, 213, 0.75);
}

.savannah__answear_correct {
  background-color: rgba(140, 132, 161, .637) !important;
}

.savannah__answear_wrong {
  background-color: rgba(211, 77, 95, .637) !important;
}

.savannah__answear_number {
  position: absolute;
  left: 12px;
  top: 3px;
  font-size: 16px;
  font-weight: 300;
  opacity: .79;
}

.savannah__question {
  text-align: center;
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  position: relative;
  top: 5px;
  z-index: 5;
}

.savannah__question_move {
  animation: move-highlight 7s linear;
}

@keyframes move-highlight {
  100% {
    top: 10em;
  }
}

.savannah__hearts {
  position: absolute;
  right: 20%;
  top: 37px;
  height: 16px;
  display: flex;
  flex-direction: row;
}

.savannah__heart {
  display: inline-block;
  vertical-align: top;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAAAXNSR0IArs4c6QAAAQpJREFUOBFjYICC////CwLxRCA+D8TfgPgeEPcDsQCSmmQg/yQQfwHiB0C8FojNYPJgGihgCMTPgBgbuAsUdADi1dgkgWJ/gLgIZBAjkMEGpM8BsTZIgEzwF6jPigFoWBgQUwOsZQKaaEyma9C1GYMM40IXJZPPDTLsDJma0bWdBkWAEFD0DhALosuSyI8EqwcaWExhDIDSHiPMMBYgZy+ZBn4A6lNH8QVQQAiI75BoICjBeqEYBOMAJWSB+DaRBv4GqguF6cVKAxVIAfFFAgZ+Bcr7YTUAXRCokAeIN+Ew8DFQ3AhdD14+UAMo2VQCMShcYGAnkCGKVyM+SaBmCyAGebsQiCHRj0MDAN3VLCP8KQGSAAAAAElFTkSuQmCC) no-repeat;
  width: 19px;
  height: 16px;
  margin-left: 2px;
  transition: all .15s ease;
}

.savannah__heart_kill {
  opacity: .2;
}

.savannah__sound {
  width: 23px;
  height: 24px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDE5IDI0Ij4KICAgIDxnIGZpbGw9IiNGRkYiPgogICAgICAgIDxwYXRoIGQ9Ik04Ljc3OCAyLjE1NlYxMi4zNzNjLS42MzctLjI1MS0xLjMxNi0uMzc4LTItLjM3My0xLjU5My0uMDA2LTMuMTIzLjYyNC00LjI1IDEuNzVDMS40MDMgMTQuODc4Ljc3MyAxNi40MDguNzc5IDE4Yy0uMDA2IDEuNTkuNjIyIDMuMTE3IDEuNzQ0IDQuMjQzQzMuNjQ1IDIzLjM2OSA1LjE3IDI0IDYuNzYgMjRjMy4wNTIuMDAxIDUuNjEzLTIuMyA1LjkzOC01LjMzM2guMDhWNi45MjVsLTQtNC43N3oiLz4KICAgICAgICA8cGF0aCBkPSJNMTIuNzYgNEwxOC4wNzYgNCAxOC4wNzYgMCA4Ljc2IDAgOC43NiA0LjQ0NCAxMi43NiA4LjQ0NHoiLz4KICAgIDwvZz4KPC9zdmc+Cg==);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 27px;
  left: 10%;
  z-index: 5;
  cursor: pointer;
}

.savannah__sound_muted {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRkYiPgogICAgICAgIDxwYXRoIGQ9Ik05Ljc3OCA4LjIxM0wxLjU4MiAwIDAgMS41NzhsOS43NzggOS43Nzh2MS4wMTdjLS42MzctLjI1MS0xLjMxNi0uMzc4LTItLjM3My0xLjU5My0uMDA2LTMuMTIzLjYyNC00LjI1IDEuNzUtMS4xMjYgMS4xMjctMS43NTYgMi42NTctMS43NSA0LjI1LS4wMDYgMS41OS42MjIgMy4xMTcgMS43NDQgNC4yNDNDNC42NDUgMjMuMzY5IDYuMTcgMjQgNy43NiAyNGMzLjA1Mi4wMDEgNS42MTMtMi4zIDUuOTM4LTUuMzMzaC4wOHYtMy4zMzRMMjIuNDE4IDI0IDI0IDIyLjQzMSAxMy43NzggMTIuMjFsLTQtMy45OTZ6TTEzLjc2IDRMMTkuMDc2IDQgMTkuMDc2IDAgOS43NiAwIDkuNzYgNC40NDQgMTMuNzYgOC40NDR6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=);
}

.savannah__close_btn {
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTS02LTZoMzB2MzBILTZ6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iI0RFREVERSIgZD0iTTE3Ljc1IDIuMDEyTDE1Ljk4OC4yNSA5IDcuMjM4IDIuMDEyLjI1LjI1IDIuMDEyIDcuMjM4IDkgLjI1IDE1Ljk4OGwxLjc2MiAxLjc2Mkw5IDEwLjc2Mmw2Ljk4OCA2Ljk4OCAxLjc2Mi0xLjc2MkwxMC43NjIgOXoiLz4KICAgIDwvZz4KPC9zdmc+Cg==);
  background-position: 0;
  background-size: contain;
  position: absolute;
  top: 37px;
  right: 10%;
  z-index: 5;
  cursor: pointer;
}

.savannah__main {
  flex: 1 0 auto;
}

.background_animation {
  position: absolute;
}

.savannah__container {
  height: 100vh;
  width: 100%;
  @include segoe-subtitle($color-light, 400);
  margin: auto;
  overflow: hidden;
  z-index: -10;
}

.savannah__sky {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #416ba7 0%, #90bce3 50%);
}

.savannah__road {
  bottom: 0px;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, #4a483d 0%, #4c4f48 30%);
}

.road-lines {
  bottom: 0px;
  margin-bottom: 1%;
  width: 200%;
  height: 10%;
  background: repeating-linear-gradient(90deg, white 0%, white 10%, transparent 10%, transparent 20%);
  animation: anim40 linear 4s;
  animation-iteration-count: infinite;
}

.savannah__grass-wrap {
  width:200%;
  height:50px;
  background-color:#4c5f27;
  background:linear-gradient(to top, #4c5f27 10px, transparent 10px);
  bottom:20%;
  display:block;
}

.savannah__grass {
  width:0px;
  height:0px;
  border-bottom:20px solid #4c5f27;
  border-left:300px solid transparent;
  border-right:600px solid transparent;
  display:block;
  bottom:10px;
  animation: anim100 linear 6s;
  animation-iteration-count: infinite;
}
.savannah__grass:after {
  content:"";
  width:0px;
  height:0px;
  border-bottom:20px solid #4c5f27;
  border-left:300px solid transparent;
  border-right:600px solid transparent;
  display:block;
  position:absolute;
  bottom:-20px;
  left:600px;
}

.savannah__field {
  width:100%;
  height:20%;
  background:linear-gradient(#808c5e, #576b3c);
  bottom:20%;
}

.savannah__field-lines {
  width:5px;
  height:100px;
  background:#4c5f27;
  bottom:0%;
  animation: animfield linear 10s;
  animation-iteration-count: infinite;
  border-left:3px solid #808c5e;
  border-right:3px solid #576b3c;
}
.savannah__field-lines2 {
  width:5px;
  height:100px;
  background:#4c5f27;
  bottom:0%;
  animation: animfield linear 10s;
  animation-iteration-count: infinite;
  animation-delay: -5s;
  border-left:3px solid #808c5e;
  border-right:3px solid #576b3c;
}

.savannah__distant-trees {
  width:0px;
  height:0px;
  border-bottom:20px solid #45667f;
  border-left:600px solid transparent;
  border-right:600px solid transparent;
  display:block;
  bottom:40%;
  margin-bottom:30px;
  animation: anim100 linear 45s;
  animation-iteration-count: infinite;
}
.savannah__distant-trees:after {
  content:"";
  width:0px;
  height:0px;
  border-bottom:20px solid #45667f;
  border-left:600px solid transparent;
  border-right:600px solid transparent;
  display:block;
  position:absolute;
  bottom:-20px;
  left:600px;
}
.savannah__distant-trees:before {
  content:"";
  position:absolute;
  bottom:-40px;
  left:-600px;
  width:3000px;
  height:20px;
  background:#45667f;
}

.savannah__distant-trees2 {
  width:0px;
  height:0px;
  border-bottom:20px solid #355a60;
  border-left:300px solid transparent;
  border-right:600px solid transparent;
  display:block;
  bottom:40%;
  margin-bottom:18px;
  animation: anim100 linear 20s;
  animation-iteration-count: infinite;
}
.savannah__distant-trees2:after {
  content:"";
  width:0px;
  height:0px;
  border-bottom:20px solid #355a60;
  border-left:300px solid transparent;
  border-right:600px solid transparent;
  display:block;
  position:absolute;
  bottom:-20px;
  left:600px;
}
.savannah__distant-trees2:before {
  content:"";
  position:absolute;
  bottom:-32px;
  left:-300px;
  width:1800px;
  height:18px;
  background:#355a60;
}

.savannah__distant-trees3 {
  width:200%;
  height:5%;
  bottom:40%;
  background:#45694d;
  background: -webkit-gradient(radial, 50% 100%, 10, 40% 100%, 40, color-stop(0.30, #45694d), color-stop(0.31, transparent));
  background-size: 30px 100%;
  animation: anim40 linear 10s;
  animation-iteration-count: infinite;
}

.savannah__mountains {
  background:#55729e;
  background:linear-gradient(#677da4,#55729e);
  width:200%;
  height:230px;
  bottom:40%;
  clip-path: polygon(0% 62%, 4% 74%, 21% 18%, 24% 32%, 32% 0%, 50% 62%, 54% 74%, 71% 18%, 74% 32%, 82% 0%, 100% 62%, 100% 100%, 0 100%);
  animation: anim50 linear 60s;
  animation-iteration-count: infinite;
  overflow:hidden;
  .savannah__snow {
    width:100%;
    height:50%;
    background:linear-gradient(#f9feff, transparent);
  }
  .savannah__mountain-shadow {
    width:100%;
    height:100%;
    background:#3d5887;
    background:linear-gradient(#93accc 0%, #3d5887 50%);
    clip-path: polygon(4% 74%, 9% 90%, 8% 80%, 14% 64%, 16% 46%, 20% 30%, 21% 18%, 24% 32%, 27% 42%, 31% 50%, 30% 20%, 32% 0%, 54% 74%, 59% 90%, 58% 80%, 64% 64%, 66% 46%, 70% 30%, 71% 18%, 74% 32%, 77% 42%, 81% 50%, 80% 20%, 82% 0%, 100% 0%, 0% 0%);
  }
}

.savannah__clouds {
  width:100px;
  height:50px;
  border-radius:50%;
  box-shadow: 400px 60px 10px 0px #fff, 
              350px 60px 10px 0px #fff,
              385px 40px 10px 0px #fff,
              1200px 60px 10px 0px #fff, 
              1150px 60px 10px 0px #fff,
              1185px 40px 10px 0px #fff,
  
              850px 150px 12px 0px #fff,
              900px 130px 12px 0px #fff,  
              1750px 150px 12px 0px #fff,
              1800px 130px 12px 0px #fff; 
  opacity:0.3;
  animation: animcloud linear 80s;
  animation-iteration-count: infinite;
}

@keyframes anim40 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-40%, 0px);}
}

@keyframes anim100 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-100%, 0px);}
}

@keyframes anim50 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-50%, 0px);}
}

@keyframes animcloud {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-900px, 0px);}
}

@keyframes animfield {
  0% {transform:  translate(1000px,0px) skewX(61deg);}
  100% {transform:  translate(-100px,0px) skewX(-61deg);}
}
