$plant-border: #aad670;
$plant-fill: #78aa3b;
$flowerpot-color1: #d1bb94;
$flowerpot-color2: #d6c8a5;

.savannah__plant_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.savannah__plant_base {
  position: relative;
  display: block;
  width: 110px;
}

.savannah__plant_flowerpot {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-image: linear-gradient(50deg, $flowerpot-color1 20px, $flowerpot-color1 21px, transparent 20px), linear-gradient(310deg, $flowerpot-color1 20px, $flowerpot-color1 21px, $flowerpot-color1 100%);
  border-radius: 30px;
  z-index: 3;

  &:after {
    content: " ";
    position: absolute;
    display: block;
    left: 30px;
    top: -5px;
    width: 60px;
    height: 90px;
    background: linear-gradient(285deg, $flowerpot-color1 20px, $flowerpot-color2 21px, $flowerpot-color2 100%);
    transform: rotate(50deg);
  }
}

.savannah__plant_blade {
  position: absolute;
  bottom: 40px;
  overflow: hidden;
  transform-origin: 50% 100%;
  z-index: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    border-top: 0;
    border-radius: 50%;
  }
}

.blade-left-s {
  height: 60px;
  width: 50px;
  left: -15px;
  animation: wave 3s infinite ease-in-out;

  &:before {
    right: 0;
    height: 120px;
    width: 90px;
    border-right: 20px solid $plant-border;
  }

  &:after {
    top: 1px;
    right: 6px;
    height: 120px;
    width: 90px;
    transform: rotateZ(15deg);
    border-right: 18px solid $plant-fill;
  }
}

.blade-left-l {
  height: 100px;
  width: 80px;
  left: -30px;
  animation: wave2 4s infinite ease-in-out;

  &:before {
    right: 2px;
    height: 190px;
    width: 160px;
    border-right: 25px solid $plant-border;
    transform: rotateZ(20deg);
  }

  &:after {
    right: 7px;
    height: 190px;
    width: 160px;
    border-right: 18px solid $plant-fill;
    transform: rotateZ(25deg);
  }
}

.blade-right-s {
  height: 50px;
  width: 80px;
  right: -35px;
  animation: wave2 3.2s -.5s infinite ease-in-out;

  &:before {
    left: 0;
    height: 190px;
    width: 100px;
    border-left: 22px solid $plant-border;
  }

  &:after {
    left: 15px;
    height: 190px;
    width: 100px;
    border-left: 13px solid $plant-fill;
    transform: rotateZ(-10deg);
  }
}

.blade-right-l {
  height: 75px;
  width: 80px;
  right: -22px;
  animation: wave 3.2s -1s infinite ease-in-out;

  &:before {
    left: 0;
    height: 190px;
    width: 160px;
    border-left: 26px solid $plant-border;
  }

  &:after {
    left: 6px;
    height: 190px;
    width: 160px;
    border-left: 20px solid $plant-fill;
    transform: rotateZ(-10deg);
  }
}

.blade-center {
  height: 120px;
  width: 90px;
  left: -15px;
  animation: wave 3s -1.2s infinite ease-in-out;

  &:before {
    right: 10px;
    height: 240px;
    width: 140px;
    border-right: 28px solid $plant-border;
    transform: rotateZ(15deg);
  }

  &:after {
    right: 15px;
    height: 240px;
    width: 140px;
    border-right: 17px solid $plant-fill;
    transform: rotateZ(15deg);
  }
}

@keyframes wave {
  0% {
    transform: rotateZ(3deg) translateZ(-1px);
  }

  25% {
    transform: rotateZ(-4deg) translateZ(-1px);
  }

  50% {
    transform: rotateZ(2deg) translateZ(-1px);
  }

  75% {
    transform: rotateZ(-6deg) translateZ(-1px);
  }

  100% {
    transform: rotateZ(3deg) translateZ(-1px);
  }
}

@keyframes wave2 {
  0% {
    transform: rotateZ(0deg) translateZ(-1px);
  }

  25% {
    transform: rotateZ(-3deg) translateZ(-1px);
  }

  50% {
    transform: rotateZ(3deg) translateZ(-1px);
  }

  75% {
    transform: rotateZ(-1deg) translateZ(-1px);
  }

  100% {
    transform: rotateZ(0deg) translateZ(-1px);
  }
}
