.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  padding-top: px-to-rem(50px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: $color-light-grey;
  margin: auto;
  padding: 0;
  width: 40%;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.5);
  border-radius: px-to-rem(6px);
}

.modal-header {
  padding: 0.7rem 1rem;
  background-color: $color-dark-blue;
  color: $color-light;
  border-radius: px-to-rem(5px) px-to-rem(5px) 0 0;
  @include segoe-subtitle($color: $color-text, $weight: 400);
}

.modal-header__close {
  color: $color-light;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-header__close:hover,
.modal-header__close:focus {
  text-decoration: none;
  cursor: pointer;
  @include transition($time: 0.4s, $property: all, $method: ease-out);
}

.modal-body {
  padding: 0.7rem 1rem;
  border-radius: px-to-rem(5px) px-to-rem(5px) 0 0;
}

.modal-body__text {
  padding: 1rem;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
