@font-face {
    font-weight: 400;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI.ttf") format("opentype");
  }
  
  @font-face {
    font-weight: 600;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI-SemiBold.ttf") format("opentype");
  }
  
  @font-face {
    font-weight: bold;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI-Bold.ttf") format("opentype");
  }

body {
    font-family: "Segoe";
    font-size: 20px;
}

.audio-call-wrapper {
    padding: 0px;
    background: linear-gradient(45deg, #03001e, #7303c0, #ec38bc, #7c06b3);  
    background-size: 400% 400%;
    height: 100vh;
    // animation: gradient 15s ease-in infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes gradient-2 {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.audio-call-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// .modal-window {
//     z-index: 5;
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     background: linear-gradient(45deg, #03001e, #7303c0, #ec38bc, #7c06b3);  
// }

.audio-block {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.words-block {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.word {
    // width: 15%;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: rgb(228, 220, 220);
}

.word:hover {
    background: rgba(184, 181, 181, 0.274);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.number {
    font-size: .7em;
    margin-right: 8px;
}

.answer-block {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dont-know {
    border: 1px solid rgb(177, 169, 169);
    border-radius: 5px;
    padding: 10px 30px;
    color: rgb(228, 220, 220);
    cursor: pointer;
}

.dont-know:hover {
    border: 1px solid rgb(206, 201, 201);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.speaker {
    width: 60%;
    fill: rgb(189, 188, 188);
    stroke: rgba(41, 34, 34, 0.479);
}

.speaker-block {
    display: flex;
    justify-content: center;
    background: rgba(236, 229, 229, 0.561);
    height: 100vh;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.speaker-block:hover {
    animation: gradient-2 1s ease-out infinite;
    background: linear-gradient(45deg, rgba(179, 172, 172, 0.644), rgba(202, 202, 202, 0.623));  
    background-size: 800% 800%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


