@font-face {
    font-weight: 400;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI.ttf") format("opentype");
  }
  
  @font-face {
    font-weight: 600;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI-SemiBold.ttf") format("opentype");
  }
  
  @font-face {
    font-weight: bold;
    font-size: normal;
    font-family: "Segoe";
    src: url("../assets/fonts/SegoeUI-Bold.ttf") format("opentype");
  }

body {
    font-family: "Segoe";
    font-size: 20px;
}

.audio-call-wrapper {
    padding: 0px;
    background: linear-gradient(45deg, #03001e, #7303c0, #ec38bc, #7c06b3);  
    background-size: 400% 400%;
    height: 100vh;
    // animation: gradient 15s ease-in infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes move-container {
    0% {
        left: 0px;
    }

    10% {
        left: 50px;
    }

    100% {
        left: -2000px;
    }
}

.audio-call-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.move {
    animation: move-container 3s ease;
}

// .modal-window {
//     z-index: 5;
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     background: linear-gradient(45deg, #03001e, #7303c0, #ec38bc, #7c06b3);  
// }

.audio-block {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words-block {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.word {
    // width: 15%;
    margin-right: 40px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: rgb(228, 220, 220);
}

.word:hover {
    background: rgba(184, 181, 181, 0.274);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.correct-icon {
    height: 1.5em;
}

.number {
    font-size: .7em;
    margin-right: 8px;
}

.answer-block {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dont-know {
    width: 78px;
    height: 27px;
    border: 1px solid rgb(177, 169, 169);
    border-radius: 5px;
    padding: 10px 30px;
    color: rgb(228, 220, 220);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dont-know:hover {
    border: 1px solid rgb(206, 201, 201);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@keyframes arrow-move {
    0% {
        width: 80%;
    }
    50% {
        width: 70%;
    }
    100% {
        width: 80%;
    }
}


.arrow {
    width: 80%;
    animation: arrow-move 0.7s ease-in-out;
}

.img-block {
    margin-bottom: 20px;
}

.speaker-eng-word {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer-image {
    // border: 2px solid white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.speaker {
    width: 60%;
    fill: rgb(189, 188, 188);
    stroke: rgba(41, 34, 34, 0.479);
}

.speaker-block {
    display: flex;
    justify-content: center;
    background: rgba(236, 229, 229, 0.315);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition-duration: 0.5s;
    box-shadow: 0 5px 23px 5px rgba(0,0,0,0.2);
}

.speaker-block-answer {
    height: 40px;
    width: 40px;
}

.speaker-block-active {
    animation: gradient-2 0.9s ease-in-out;
    background: linear-gradient(45deg, rgba(236, 229, 229, 0.561), rgba(71, 45, 144, 0.623), rgba(236, 229, 229, 0.315));  
    background-size: 800% 800%;
    // box-shadow: 0 5px 23px 40px rgba(0,0,0,0.8);
}

@keyframes gradient-2 {
    0% {
        background-position: 0 50%;
        box-shadow: 0 0px 0px 0px rgba(206, 201, 201, 0.397);
    }
    50% {
        background-position: 100% 50%;
        box-shadow: 0 0px 0px 30px rgba(206, 201, 201, 0.397);
    }
    100% {
        background-position: 0 50%;
        box-shadow: 0 0px 0px 0px rgba(206, 201, 201, 0.397);
        
    }
}

.answer-word-eng {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(228, 220, 220);
}

.wrong-answer {
    opacity: .4;
}
