.main-header {
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  height: px-to-rem(45px);
  background-color: $color-dark-blue;
  box-shadow: 0 4px 22px rgba(15, 143, 198, .3);
}

.main-header__logo {
  display: flex;
  justify-content: center;

  @include media-mobile {
    a {
      padding-left: 25px;
    }

    .logo {
      width: 70%;
      padding-top: 12px;
    }
  }
}

.main-header__logout {
  display: block;
  position: fixed;
  top: px-to-rem(8px);
  right: px-to-rem(20px);
  width: px-to-rem(20px);
  height: px-to-rem(20px);
  padding: px-to-rem(4px) (8px);
  background: rgba(0, 0, 0, .2);
  border-radius: px-to-rem(5px);
  cursor: pointer;

  @include media-mobile {
    top: 1.2rem;
    right: .8rem;
  }

  &:hover {
    background-color: $color-hovered;

    @include transition($time: .4s, $property: all, $method: ease-out);
  }
}
