.english-puzzle-main {
  position: relative;
}

.game__field_container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 20px;
}

.field__container {
  flex-direction: column;
  align-items: center;
}

.background-picture {
  min-height: 800px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.data__container {
  display: flex;
  // justify-content: center;
}

.drop-place {
  // padding-left: 30px;
  // padding-right: 22px;
  // display: flex;
  // justify-content: flex-start;

  // width: 100%;
  // // width: 200px;
  min-height: 48px;

  @include box-shadow(5px, 5px, 5px, $color-orange);

  // border-radius: 5px;
  // outline: 1px solid red;


  // background-color: lightgray;
  // border: 1px solid green;
}

.drop-place .dragable {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // width: 200px;

  // background-color: burlywood;
  // border: 1px solid red;
  cursor: grab;
}

.sentence {
  display: flex;
  align-content: start;
  // margin: 0 auto;
  // justify-content: flex-start;

  // min-height: 50px;

  background-color: #666d89;
  // opacity: 0.6;
  box-shadow: 0px 0px 10px 2px #666d89;

  @include media-mobile {
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
  }
}

.sentence-clear {
  background-color: transparent;
  box-shadow: none;
}

.sentence:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sentence:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.moveable {
  position: absolute;
}

.hidden {
  visibility: hidden;
}

.shadow {
  background-color: #666d89;
  opacity: 0.6;
  box-shadow: 1px 1px 5px 5px #666d89;
}
