.introduction {
  width: 100vw;
  height: 100vh;

  background-color: rgba(182, 203, 230, 0.9);
  background-image: url('../components/view/assets/img/introduction_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  z-index: 1000;
}

.introduction__container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  height: 100vh;

  // backdrop-filter: opacity(0.8) blur(2px) brightness(1.2);
}
