.english-puzzle-body {
  @include segoe-additional($color: $color-text, $weight: 400);

  font-size: px-to-rem(16px);
  line-height: px-to-rem(20px);

  background: url('../assets/img/main-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  user-select: none;

  @include media-tablet {
    font-size: px-to-rem(12px);
    line-height: px-to-rem(16px);
  }
}

.english-puzzle-wrapper {
  padding: 10px;
  min-height: 100vh;

  background-color: rgba(255, 255, 255, 0.4);

}

.display-none {
  display: none;
}

.list {
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.disabled {
  background-color: lightcoral;
}

.translation__description,
.picture__description {
  @include flex-center;

  min-height: 64px;
  margin: 10px;

  color: $color-text-additional;
  text-align: center;

  overflow: hidden;
}

.translation__description {
  @include media-tablet {
    min-height: 75px;
  }
}

.picture__description {
  @include media-tablet {
    display: none;
  }
}
