.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navigation__description {
  color: $color-text-additional;
  font-weight: bold;
}

.selector {
  color: $color-text-additional;

  background-color: $color-light-grey;
  border-color: $color-border;
  border-radius: 5px;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-hovered;
    border-color: transparent;

    @include transition($time: .4s, $property: all, $method: ease-out);
  }
}

.selector option {
  background-color: $color-light;
}

.selector option.completed {
  color: $color-dark-orange;
  background-color: $color-hovered;
}