.spinner {
  position: fixed;
  top: 0;
  @include flex-center;

  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $color-spinner-bg;
  z-index: 9999;
}

.spinner.hidden {
  display: none;
}

.spinner__description {
  font-size: 25px;
  line-height: 40px;
  color: $color-spinner-description;
  text-transform: uppercase;
  animation: blink .35s linear infinite;
}

@-webkit-keyframes blink {
  100% { color: $color-spinner-blink; }
}

@keyframes blink {
  100% { color: $color-spinner-blink; }
}

@keyframes spinner__inner {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(60deg); }
}

.spinner__inner > div {
  transform-origin: 132px 132px;
  animation: spinner__inner .35s infinite linear;
}

.spinner__inner > div div {
  position: absolute;
  width: 30px;
  height: 195px;
  background: $color-spinner;
  left: 132px;
  top: 132px;
  transform: translate(-50%, -50%);
}

.spinner__inner > div div:nth-child(1) {
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.spinner__inner > div div:nth-child(5) {
  width: 85px;
  height: 85px;
  background: $color-spinner-inner-bg;
  border-radius: 50%;
}

.spinner__inner > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(60deg);
}

.spinner__inner > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(120deg);
}

.spinner__gear {
  @include flex-center;

  width: 264px;
  height: 264px;
  overflow: hidden;
  background: transparent;
}

.spinner__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner__inner div { box-sizing: content-box; }
