.results__container {
  display: none;
}

.result {
  .header,
  .main-game__container {
    display: none;
  }

  .results__container {
    display: block;
  }
}

.button__container_results {
  padding: 20px;
}

.picture__container {
  @include flex-center;

  flex-direction: column;

  @include media-tablet {
    display: none;
  }
}

.statistic__picture {
  width: 400px;
  border: 5px solid $color-dark-blue;
  border-radius: 20px;
  transition: .2s ease-in;

  &:focus,
  &:hover,
  &:active {
    outline: none;
    border: 5px solid $color-hovered;
    transform: scale(1.05);
  }
}

.cards__item-english-for-puzzle {
  width: 260px;
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid $color-dark-blue;
  border-radius: 10px;
  transition: .2s ease-in;

  &:focus,
  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.english-puzzle-wrapper .card__link {
  @include flex-center;

  flex-direction: column;
  min-height: 60px;
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-additional;
  border-radius: 10px;
  background-color: $color-light;
  background-image: url('../assets/img/dinamic-icon.png');
  background-repeat: no-repeat;
  background-position: 11px, 0;
  background-size: 36px;

  &:focus,
  &:hover,
  &:active {
    color: $color-light;
    background-color: $color-hovered;
  }
}

.english-puzzle-wrapper .card__link.active {
  color: $color-light;
  background-color: $color-orange;
}

.correct__title,
.errors__title,
.time {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}

.time {
  margin-top: 10px;
  margin-bottom: 10px;
  color: $color-text-additional;
}

.results__correct,
.results__errors {
  max-width: 70vw;
  margin: 0 auto;
}

.errors__list,
.correct__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .card__link {
    min-height: 100px;
  }

  .card__word,
  .card__transcription {
    margin: 0;
    margin-bottom: 5px;
  }

  .card__translation {
    margin: 0;
  }

  .card__content {
    padding-right: 10px;
    padding-left: 40px;
    text-align: center;
  }
}

.correct__lead {
  color: $color-correct;
}

.errors__lead {
  color: $color-wrong;
}

.correct,
.errors {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  border-radius: 10px;
  color: $color-light;
}

.correct {
  background-color: $color-correct;
}

.errors {
  background-color: $color-wrong;
}

.long-statistic__container {
  display: none;
  font-size: 25px;
  line-height: 40px;

  .cards__item-english-for-puzzle {
    width: auto;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-text-additional;

    &:focus,
    &:hover,
    &:active {
      transform: none;
    }
  }

  .card__content {
    @include flex-center;

    flex-wrap: wrap;
    margin: 0;

    span {
      margin-left: 10px;
    }
  }

  .time {
    margin: 0;
  }
}

.long-statistic {
  .current-statistic__container {
    display: none;
  }

  .long-statistic__container {
    display: block;
  }
}
