@import './introduction.scss';
@import './spinner.scss';
@import './results.scss';
@import './puzzle.scss';
@import './buttons.scss';
@import './selectors.scss';
@import './drag-and-drop.scss';
@import './main.scss';