.linguist__button {
  margin: 10px;
  text-transform: uppercase;
  border: 1px solid $color-border;
  box-shadow: 0 4px 22px $color-shadow;

  @include button($color: $color-light, $background: $color-btn, $width: 200px, $height: 40px, $radius: 30px);

  @include segoe-additional($color: $color-light, $weight: bold);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-hovered;
    border-color: transparent;

    @include transition($time: .4s, $property: all, $method: ease-out);

    &.active {
      background-color: $color-orange;
      box-shadow: none;
    }
  }

  &[disabled] {
    background-color: $color-dark-grey;
    cursor: initial;

    &:hover {
      background-color: $color-dark-grey;
      border-color: $color-border;

      @include transition($time: .4s, $property: all, $method: ease-out);
    }
  }
}

.linguist__hints-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}

.linguist__hints-button_translation {
  background-image: url('../assets/img/translation-icon.png');
  background-size: 20px;
}

.linguist__hints-button_auto-spelling {
  background-image: url('../assets/img/auto-spell-icon.png');
}

.linguist__wrapper .active {
  background-color: $color-dark-orange;
  box-shadow: none;
}

@keyframes linguist-resize {
  40% {
    transform: scale(.9);
  }

  80% {
    transform: scale(1.1);
  }
}

.linguist-animated {
  animation: linguist-resize .8s infinite linear;
}
