.main__game-start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  min-height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1rem;
  
  border-radius: .75rem;
  background-color: #f0e0e0;
  box-shadow: 0 5px 15px 0 $color-shadow-light, 3px 10px 20px 0 $color-shadow-normal;

  .main__game-start__description {
    padding: 20px;
    @include segoe-subtitle($color-text-additional, 800);
    text-align: center;
  }

  .main__game-start__button {
    width: 300px;
    height: 55px;
    font-size: 18px;
  }
}

.main__game-level {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1rem;

  @include segoe-subtitle($color-text-additional, 800);

  background-color: #f0e0e0;
  border-radius: .75rem;
  box-shadow: 0 5px 15px 0 $color-shadow-light, 3px 10px 20px 0 $color-shadow-normal;

  &__description {
    padding: 20px;
    text-align: center;
  }

  #levellist {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 10px;

    @include media-tablet {
      width: 90%;
    }
  }

  #englishlevel {
    width: 50%;
    margin-bottom: 20px;

    @include media-tablet {
      width: 90%;
    }
  }
}