.linguist__wrapper {
  width: calc(100% - 20px);
  min-height: 100vh;
  padding: 0 10px;
  background-color: #f0e0e0;
}

.linguist__main {
  width: 100%;
}

.linguist__wrapper,
.linguist-main-card {
  @include column;

  align-items: center;
}

.linguist__hints-wrapper,
.linguist__game-controls-wrapper,
.linguist__categories-controls-wrapper,
.linguist__statistic-controls {
  @include flex-center;

  flex-wrap: wrap;
}

.linguist__controls-wrapper {
  margin-top: 20px;
}
