.login__container {
    display: block;
    position: fixed;
    z-index: 99;
    padding-top: px-to-rem(50px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
  }
  
  .login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 584px;
    flex-direction: column;
    background-color: #085364;;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    animation-name: animatetop;
    animation-duration: .4s;
    box-shadow: 0 4px 22px rgba(0, 0, 0, .5);
    border-radius: px-to-rem(6px);
  }
  
  .login__title {
    color: #FAF6F6;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.41px;
    text-transform: uppercase;
  }
  
  .login__mode {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: 0.41px;
    color: #FFFFFF;
  }
  
  .login__input {
    padding: 0 1rem;
    margin-top: 2.5rem;
    width: 300px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #D9D0E3;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01px;
  }
  
  .login__input, .login__send  {
    width: 300px;
    height: 55px;
    justify-self: center;
  }
  
  .login__send  {
    outline: none;
    margin-top: 4rem;
    background: #43B8D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.01px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #FFFCFC;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .login__send:active {
    background: #085364;
  }
  .login__send:disabled,
  .login__send[disabled] {
    background:  #D9D0E3;
  }

  .login__info {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.41px;
    color: #FDFDFD;
    text-align: center;
    word-wrap: break-word;
    width: 20rem;
    height: 3rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .login__title_switch {
    display: flex;
    padding: 1rem 0;
  }
  
  .login__mode_selected {
    color:  #43B8D2;
  }

  .login__close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    padding-right: 1rem;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    user-select: none;
    margin: 0 2rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #43B8D2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #43B8D2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 36px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }