.login__container {
  display: block;
  position: fixed;
  z-index: 99;
  padding-top: px-to-rem(40px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7);
}
  
.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: px-to-rem(250px);
  height: px-to-rem(350px);
  flex-direction: column;
  background-color: $color-dark-blue;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  animation-name: animatetop;
  animation-duration: .4s;
  box-shadow: 0 px-to-rem(4px) px-to-rem(22px) rgba(0, 0, 0, .5);
  border-radius: px-to-rem(6px);
}
  
.login__title {
  @include segoe-title($color-light);
  text-align: center;
  text-transform: uppercase;
}
  
.login__mode {
  display: flex;
  align-items: center;
  @include segoe-subtitle($color-light, 400);
}
  
  .login__input {
    @include segoe-additional($color-text-additional, 400);
    padding: 0 1rem;
    margin-top: 2.5rem;
    background: $color-light;
    border: px-to-rem(1px) solid #f4f5fa;
    box-sizing: border-box;
    border-radius: px-to-rem(8px);
    display: flex;
    align-items: center;
  }
  
  .login__input, .login__send  {
    width: px-to-rem(200px);
    height: px-to-rem(35px);
    justify-self: center;
  }
  
  .login__send  {
    outline: none;
    margin-top: 3rem;
    background: #43B8D2;
    box-shadow: 0 px-to-rem(4px) px-to-rem(4px) rgba(0, 0, 0, 0.25);
    border-radius: px-to-rem(30px);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: px-to-rem(1px) solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    @include segoe-subtitle($color-light, 600);
  }

  .login__send:active {
    background: #085364;
  }
  .login__send:disabled,
  .login__send[disabled] {
    background:  #D9D0E3;
  }

  .login__info {
    @include segoe-desc($color-light, 400);
    text-align: center;
    word-wrap: break-word;
    width: 20rem;
    height: 3rem;
  }
  
  .login-mb-3 {
    margin-bottom: 1rem;
  }
  
  .login__title_switch {
    display: flex;
    padding: 1rem 0;
  }
  
  .login__mode_selected {
    color: $color-orange;
  }

  .login__close {
    color: $color-light;
    float: right;
    font-size: px-to-rem(30px);
    cursor: pointer;
    align-self: flex-end;
    padding-right: 1rem;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: px-to-rem(50px);
    height: px-to-rem(30px);
    user-select: none;
    margin: 0 2rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-text-additional;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: px-to-rem(25px);
    width: px-to-rem(25px);
    left: px-to-rem(3px);
    bottom: px-to-rem(3px);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $color-text-additional;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 px-to-rem(1px) #43B8D2;
  }
  
  input:checked + .slider:before {
    transform: translateX(px-to-rem(20px));
  }
  
  .slider.round {
    border-radius: px-to-rem(20px);
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }

