.body__game-sprint {
  background-image: url('../assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  user-select: none;
}

.sprint-game__wrapper {
  position: relative;

  min-height: 100vh;
  margin: 0 auto;
}
.display-none {
  display: none;
}

.sprit-game__container {
  display: flex;
  margin: 0 auto;
}
