.body__game-sprint {
  width: 100vw;
  height: 100vh;
  background: #7519eb;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper__sprint-game {
  position: relative;
}
