.body__game-sprint {
  //   width: 100vw;
  //   height: 100vh;
  background: #7519eb;
  background-repeat: no-repeat;
  //   background-image: url("../assets/img/bg.png");
  background-position: center;
  background-size: cover;

  user-select: none;
}

.sprint-game__wrapper {
  position: relative;

  min-height: 100vh;
}
.display-none {
  display: none;
}
