.main {
  padding: 0;
}
.overflow-hidden {
  overflow: hidden;
}

.preview {
  z-index: 1000;

  width: 100vw;
  min-height: 100vh;

  background-color: rgba(56, 60, 60, 0.8);
  background-image: url('../assets/img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.preview__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 70px;

  color: #50667b;
}

.preview__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;

  background-color: rgba(244, 245, 250, 0.6);
  border-radius: 20px;

  @include segoe-subtitle($color: $color-text-additional, $weight: 600);
}

.preview__content {
  text-align: center;

  @include segoe-subtitle($color: $color-text-additional, $weight: 600);
}
