.statistics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
}

.result__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Segoe", sans-serif;
  color: #50667b;
  background-color: rgba(244, 245, 250, .6);
  border-radius: 20px;
}

.correct__title,
.errors__title {
  margin: 0;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.results__correct,
.results__errors {
  max-width: 70vw;
  margin: 0 auto;
}

.correct__lead {
  color: #00bf82;
}

.errors__lead {
  color: #f08080;
}

.correct-descr,
.errors-descr {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  color: $color-light;
  border-radius: 10px;
}

.correct-descr {
  background-color: #00bf82;
}

.errors-descr {
  background-color: #f08080;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 770px;
  list-style-type: none;
}

.list__item {
  min-width: 170px;
  margin: 10px;
  overflow: hidden;
  line-height: 2rem;
  text-align: center;
  text-overflow: ellipsis;
  border: 1px solid #085364;
  border-radius: 10px;
}
