.inner__game-sprint {
  position: absolute;
  top: 90px;
  left: 180px;

  width: 666px;
  height: 500px;
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;

  backdrop-filter: blur(40px);
}
