.promo__logo {
  color: red;

  .logo__word {
    color: green;
  }
}


[data-container="container-create"] {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 584px;
  flex-direction: column;
  background-color: #085364;;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.login {
  width: 300;
  height: 500;
}

.login__title {
color: #FAF6F6;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 41px;
text-align: center;
letter-spacing: 0.41px;
text-transform: uppercase;
}

.login__mode {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
  display: flex;
  align-items: center;
  letter-spacing: 0.41px;
  color: #FFFFFF;
}

.login__input {
  width: 300px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #D9D0E3;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01px;
}

.login__input, .login__send  {
  width: 300px;
  height: 55px;
  justify-self: center;
}

.login__send  {
  background: #43B8D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.01px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #FFFCFC;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.login__label {
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 41px;
display: flex;
align-items: center;
letter-spacing: 0.41px;
text-transform: uppercase;
color: #FDFDFD;
}

.login__info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  color: #FDFDFD;
  text-align: left;
  word-wrap: break-word;
  width: 20rem;
}

.mb-3 {
  margin-bottom: 1rem;
}