
.main__game-start {
    margin: 0 auto;
    border-radius: .75rem;
    padding: 1rem;
    width: 80vw;
    height: 57px;
    background-color: #f8f2ee;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main__game-start__description {
        font-family: Poppins, Arial, sans-serif;
        color: $color-text;
    }

    .main__game-start__button {
        color: white;
        width: 300px;
        height: 55px;
        background: $color-btn;
        font-size: 24px;
        border: 1px solid $color-border;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        border-radius: 30px;
    }
}

.main__game-stat {
    @include segoe-subtitle($color-text, bolder);

    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .75rem;
    padding: 1rem;
    width: 80vw;
    height: 200px;
    background-color: #f8f2ee;
    display: flex;

    .main__game-stat__today {
        border: 1px solid white;
        height: 83%;
        flex-grow: 10;
        padding: 1rem;
    }

    .main__game-stat__week {
        height: 83%;
        padding: 1rem;
        flex-grow: 4;
        border: 1px solid white;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    padding-top: 3rem;

    .card-main {
        width: 35rem;
        max-width: 35rem;
        height: 20rem;
        flex: 1 1 auto;
        background-color: #f8f2ee;
        @include box-shadow(0, 3px, .5rem, $color-light-grey);
        @include border-radius(.75rem, .75rem,.75rem,.75rem);
    }

    .navigate {
        background-image: url('../assets/img/arrNav.png');
        height: 32px;
        width: 32px;
        cursor: pointer;
    }

    .prev {
        transform: rotate(180deg);
    }

    .hidden {
        display: none;
    }
}
