@import '../../../scss/fonts.css';
@import '../../../scss/normalize.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/constants.scss';
@import '../../../scss/wrapper.scss';

@import './layouts/main.header.scss';
@import './layouts/main.main.scss';
@import './layouts/main.error.scss';
@import './component/main.hamburger.scss';
@import './component/main.navigation.scss';
@import './component/main.button.scss';
@import './component/cards.button.scss';
@import './component/cards.scss';

@import './../components/settings/scss/settings.style';
