.main-header {
  height: 70px;

  background-color: $color-dark-blue;
  box-shadow: 0 4px 22px rgba(15, 143, 198, 0.3);
}
.main-header__logo {
    display: flex;
    justify-content: center;
}

.main-header__logout {
    position: fixed;
    top: 19px;
    right: 40px;
}
