@import '../../../../../scss/variables.scss';
@import '../../../../../scss/mixins.scss';

.slider__wrapper {
  position: relative;

  box-sizing: border-box;
  padding: 0;

  user-select: none;
}

.button__container-slider {
  position: absolute;

  display: flex;
  align-items: center;
  width: 7%;
  height: 100%;

  z-index: 7;

  @include media-tablet {
    width: 10.7%;
    min-width: 40px;
  }
}

.button__container_right {
  top: 0;
  right: 0;
}

.slider__button {
  display: block;
  width: 100%;
  height: 100%;

  background-color: transparent;

  border: none;

  &:focus,
  &:hover {
    outline: none;
    .slider__button-icon {
      background-color: rgba(136, 169, 212, 0.4);

      box-shadow: 1px 1px 10px 4px white;

      @include media-tablet {
        transform: scale(0.8);
      }

    }
  }
}

.slider__button-icon {
  position: relative;
  left: 40%;

  display: block;
  width: 40px;
  height: 40px;

  background-image: url('../assets/img/slider-button.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 50%;

  @include transition;

  @include media-desktop {
    left: 30%;
  }

  @include media-tablet {
    left: 0%;
  }
}

.slider__button_next {
  left: -28px;
  bottom: 5px;

  transform: rotate(180deg);
}

.gallery {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.display-off {
  opacity: 0;
}

.slider__item {
  position: relative;

  display: none;
  min-height: 650px;

  animation: 0.4s ease-in-out;
}

.slider__active,
.slider__next {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.slider__next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}
