.game__container {
  margin: 0 auto;
  width: 700px;
  height: 500px;
  background: bisque;
  border: solid;
  position: relative;
}

.game__field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.word {
  width: 100px;
  height: 50px;
  border: solid;
  margin: 0 20px;
}

.button {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.game__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.false-result {
  background: red;
}

.true-result {
  background: seagreen;
}
