.game__container {
  margin: 0 auto;
  width: 700px;
  height: 500px;
  background: bisque;
  border: solid;
  position: relative;
}

.game__field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.word {
  width: 100px;
  height: 50px;
  border: solid;
  margin: 0 20px;
}

.game__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.false {
  background: red;
  width: 100px;
  height: 50px;
  margin: 20px;
}

.true {
  background: seagreen;
  width: 100px;
  height: 50px;
  margin: 20px;
}

.wrapper-score {
  margin: 0 auto;
  width: 100%;
  background: rgba(0, 0, 0, .25);
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.score {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: solid 1px gray;
  border-radius: 5px;
  background: white;
  min-height: 50%;
  margin-bottom: 20px;
  overflow-y: auto;
}

.container-answers {
  display: flex;
  justify-content: space-around;
}

.correctly {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: Poppins, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.error {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: Poppins, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.score-result-know {
  display: flex;
  margin: 15px 0;
  flex-direction: column;
}

.score-result-dont-know {
  display: flex;
  margin: 15px 0;
  flex-direction: column;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.btn {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  appearance: none;
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  min-width: 200px;
  color: #fff;
  background: #2748af;
  border-radius: 4px;
  visibility: visible;
  border: none;
  cursor: pointer;

  &:hover {
    background: #16379f;
    transition: .6s;
    box-shadow: 0 0 10px rgba(118, 118, 118, .25);
  }
}

.hidden {
  display: none;
}
