.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  @include media-mobile {
    flex-wrap: wrap;
    padding: 20px;
  }
}

.navigation__description {
  font-weight: bold;
  font-size: px-to-rem(16px);

  $color: $color-text-additional;
}

.btn__my-words {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid $color-border;
  box-shadow: 0 4px 22px rgba(0, 0, 0, .3);

  @include button($color: $color-light, $background: $color-btn, $width: 220px, $height: 40px, $radius: 30px);
  @include segoe-additional($color: $color-light, $weight: bold);
  @include media-mobile {
    order: 3;
    margin: 20px auto;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-hovered;
    border-color: transparent;

    @include transition($time: .4s, $property: all, $method: ease-out);
  }
}

.selector {
  font-size: px-to-rem(16px);
  background-color: $color-light-grey;
  border-color: $color-border;
  border-radius: 5px;
  cursor: pointer;

  @include segoe-subtitle($color: $color-text-additional, $weight: normal);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-hovered;
    border-color: transparent;

    @include transition($time: .4s, $property: all, $method: ease-out);
  }
}

.selector option {
  font-size: px-to-rem(16px);
  background-color: $color-light;

  @include media-mobile {
    font-size: px-to-rem(14px);
  }
}

.selector option.completed {
  color: $color-dark-orange;
  background-color: $color-hovered;
}
