$color-light: #fff;
$color-text: #332f2f;
$color-text-additional: #50667b;
$color-hovered: #43b8d2;
$color-dark-blue: #085364;
$color-light-grey: #f4f5fa;
$color-btn: #2d4fc8;
$color-border: #0b437e;
$content-width: 1024px;
$tablet-width: 767px;
$mobile-width: 374px;
$mobile-small-width: 319px;
$color-orange : #F07941;
$color-dark-orange: #eb550e;
$base-font-size: 10px;
