$color-light: #fff;
$color-text: #332f2f;
$color-text-additional: #50667b;
$color-hovered: #43b8d2;
$color-dark-blue: #085364;
$color-light-grey: #f4f5fa;
$color-dark-grey: #9c9797;
$color-btn: #2d4fc8;
$color-border: #0b437e;
$color-shadow: #0000004d;
$color-orange: #f07941;
$color-dark-orange: #eb550e;

$content-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;
$mobile-small-width: 320px;
$base-font-size: 10px;

$color-correct: #00bf82;
$color-wrong: #f08080;
