@mixin segoe-title($color) {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: "Segoe", sans-serif;
  color: $color;
  letter-spacing: 0.04rem;
}

@mixin segoe-subtitle($color, $weight) {
  font-weight: $weight;
  font-size: 1.3rem;
  font-family: "Segoe", sans-serif;
  color: $color;
}

@mixin segoe-additional($color, $weight) {
  font-weight: $weight;
  font-size: 1.125rem;
  font-family: "Segoe", sans-serif;
  color: $color;
}

@mixin segoe-desc($color, $weight) {
  font-weight: $weight;
  font-size: 0.875rem;
  font-family: "Segoe", sans-serif;
  color: $color;
}

@function px-to-rem($px) {
  @return $px / $base-font-size * 1rem;
}

@mixin button($color, $background, $width, $height, $radius) {
  width: $width;
  height: $height;

  color: $color;

  background: $background;
  border-radius: $radius;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: $width;
}

@mixin column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin box-shadow($horizOffset, $vertOffset, $blur, $color) {
  box-shadow: $horizOffset $vertOffset $blur $color;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  position: $pos;

  display: $display;
}

@mixin link($link, $visit, $hover, $active) {
  a {
    color: $link;

    &:visited {
      color: $visit;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

@mixin transition($time: 0.3s, $property: all, $method: ease-out) {
  transition: $time $property $method;
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-mobilesmall {
  @media (max-width: $mobile-small-width) {
    @content;
  }
}

@function px-to-rem($px) {
  @return $px / $base-font-size * 1rem;
}

@mixin padding-between-pages {
  padding: 50px 0;
}

@mixin background-section {
  width: 100%;

  background: #ffffff;
}
