
.capabilities {
    @include background-section;
}
.capabilities__container {
    @include padding-between-pages;
}
.title__content {
    @include flex-center;
}

.title {
    margin: 0 30px;
    color: $color-text;
}

.title__text {
    width: 80%;
    margin: auto;
    line-height: 41px;
    letter-spacing: 0.41px;
    text-align: center;
    font-size: 24px;
    color: $color-text;
}