.games {
  @include background-section;
}

.games__content {
  @include flex-center;

  flex-direction: column;
  @include padding-between-pages;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 324px;
    background-image: url('../assets/img/image-games.png');
    background-repeat: no-repeat;
    background-position: 50% 12%;

    @include media-tablet {
      display: none;
    }
  }
}

.games__title {
  text-align: center;
  margin: 0 25px;
  @include segoe-subtitle($color-text, bold);

  font-size: px-to-rem(16px);
  line-height: px-to-rem(20px);
}

.layout-3-columns {
  @include columns(100%);

  align-items: center;
  padding: 70px 0;

  @include media-tablet {
    flex-direction: column;
  }
}

.column-1-row {
  @include media-tablet {
    margin-right: 45px;
  }
}
