
.games {
    @include background-section;
}
.games__content {
    @include flex-center;
    flex-direction: column;
    @include padding-between-pages;
}



.games__title {
    @include segoe-subtitle ($color-text, 600);
    font-size:  px-to-rem(16px);
    line-height: px-to-rem(20px);
}

.layout-3-columns {
   @include columns(90%);
   align-items: center;
}
