.difficulties {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 5px;
  padding-top: 10px;
}

.buttons__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.game__difficult {
  box-sizing: border-box;
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 0;

  line-height: 30px;
  border-radius: 50%;
}

.button__container {
  display: flex;
  justify-content: center;
}

.game__button {
  margin: 0 10px;
}

.disabled.game__button {
  background-color: lightcoral;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.4);

  &:focus,
  &:hover,
  &:active {
    color: white;
  }
}

.active.game__difficult{
 box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.4);

  &:focus,
  &:hover,
  &:active {
    color: white;
    box-shadow: 0 0 10px 0 #335e97 inset, 0 0 10px 4px #335e97;
  }
}

.difficult__description {
  align-self: center;
  display: block;
  margin-right: 10px;
  font-size: 25px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: rgb(0, 189, 129);

  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: rgba(0, 189, 129, 1);
}

.game__controls {
  display: flex;
  justify-content: center;

  
}
