.promo {
    @include background-section;
}

.promo__container {
    position: relative;
    overflow: hidden;
    height: 1335.84px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 1335.84px;
        background-image: url('../assets/img/background__main.png');
        background-repeat: no-repeat;
        background-position: top right;
        @include media-tablet {
            display: none;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 1335.84px;
        background-image: url('../assets/img/backgroundOne__main.png');
        background-repeat: no-repeat;
        background-position: top left;
        @include media-tablet {
            background-position: 30% 0%;
        }
    }
}

.promo-content {
    width: 60%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 2;
}

.promo__title {
    @include segoe-title ($color-text);
    font-size: px-to-rem(48px);
    line-height: px-to-rem(40px);
    @include media-tablet {
    font-size: px-to-rem(30px);
    line-height: px-to-rem(40px);
    }
}